h1 {
  text-align: center;
  margin: 20px 0 10px;   /* reduced bottom gap */
  font-size: 32px;
  color: #12993a;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
  margin-bottom: 20px;  /* small, controlled space */
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  color: #1976d2;
  font-size: 16px;
}
.navbar a:hover {
  color: #a1120d;
}